@import './_variables';
@import './grid';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.weather-widget {
    display: flex;
    min-height: 400px;
    width: 100%;
    height: 100vh;
    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: $text-grey-color;
        font-weight: 600;
        text-align: center;
        box-shadow: 10px 0px 5px $associate-grey-color;
        .sidebar-row {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-top: 1px solid $line-grey-color;
            &:firs-child {
                border-top: none;
            }
        }
    }
}
