@import './_variables.scss';
@import './_grid.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.weather-widget {
    display: flex;
    min-height: 500px;
    width: 100%;
    height: 100vh;
    .specrow {
        margin: 0;
    }
    .sidebar {
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        color: $text-grey-color;
        font-weight: 600;
        text-align: center;
        box-shadow: 10px 0px 5px $associate-grey-color;
        .sidebar-row {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border-top: 1px solid $line-grey-color;
            &:first-child {
                border-top: none;
            }
        }
    }

    table {
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100vh;
        min-height: 500px;
        max-height: 100vh;
        color: black;
        text-align: center;
        font-weight: 600;
        tbody {
            display: flex;
            flex-direction: column;
            height: 100%;
            tr {
                display: flex;
                border-right: 1px solid $line-grey-color;
                align-items: center;
                justify-content: flex-start;

                td {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    overflow: hidden;
                    flex-grow: 1;
                    width: $cell-width;
                    height: 100%;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    border-right: 1px solid $line-grey-color;
                    text-align: center;
                    p {
                        margin: 0;
                        padding: 0;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }

                &.day {
                    td {
                        align-items: flex-start;
                        padding: 10px;
                        color: #888888;
                        text-transform: uppercase;

                        @for $i from 1 to 24 {
                            &.day-width-#{$i} {
                                width: calc(#{$cell-width} * #{$i}) !important;
                            }
                        }
                    }
                }

                &.windDirection,
                &.windSpeed {
                    td {
                        background-color: $background-gray-color;
                        border-right: 1px solid $background-color;
                    }
                }

                &.windDirection {
                    td {
                        display: flex;
                        flex-direction: column;
                        .icon {
                            padding: 5px 10px;
                            box-sizing: border-box;
                            width: 70%;
                        }
                    }
                }

                &.temperature,
                &.pressure,
                &.rainfall {
                    position: relative;
                    .divides {
                        display: flex;
                        position: absolute;
                        left: 0;
                        height: 100%;
                        span {
                            display: flex;
                            flex-grow: 1;
                            width: $cell-width;
                            height: 100%;
                            box-sizing: border-box;
                            border-right: 1px solid $line-grey-color;
                        }
                    }

                    td {
                        display: flex;
                        justify-content: space-between;
                        align-items: space-between;
                        width: 100%;
                        height: 100%;
                        padding: 0 5px;
                        box-sizing: border-box;
                        div {
                            display: flex;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &.rainfall {
                    td {
                        transform: scaleX(1.01);
                        position: relative;
                        margin: 0px;
                        padding: 0;
                    }
                }
            }
        }
    }
}
